*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
}

body{
    background: url(imgs/background/castle2.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: 100vw;
    height: 100vh;
}

/* header */

#top-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10rem;
    position: fixed;
}

#top-nav{
    width: 100%;
    height: 10rem;

    z-index: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.school-logo{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    filter: drop-shadow(10px 12px 10px black);
}

.make-it-levitate{
    animation: levitate 1s ease-in 0.5s 3 forwards;
}


@keyframes levitate {
    0% {margin-bottom: 0;}
    50% {margin-bottom: 1rem;}
    100% {margin-bottom: 0;}
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#dashboard{
    width: 80vw;
    height: 90vh;
    border: 5px solid white;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.inner-card{
    width: 60%;
    height: 20rem;
    background-color:burlywood;
    border-radius: 30px;
    filter: drop-shadow(10px 12px 12px black);
    margin: 2rem 0;
    padding: 10rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: url("imgs/houses/gryffindor/gryffindor1.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.student-pic{
    width: 10rem;
    height: 10rem;
    filter: drop-shadow(10px 12px 10px black);
}



