*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    --slytherin: #1A472A;
    --gryffindor: #7400028e;
    --hufflepuff: #6b6019;
    --ravenclaw: #0E1A40;
    --gryffindor-font: "p22-mackinac-pro", serif; font-weight: 400; font-style: italic;
    --slytherin-font: "area-normal", sans-serif; font-weight: 400; font-style: italic;
    --ravenclaw-font: "blenny", sans-serif; font-weight: 900; font-style: normal;
    --hufflepuff-font: "bely", serif; font-weight: 400; font-style: italic;;
}

body{
    background: url(imgs/background/castle2.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: 100vw;
    height: 100vh;
}

/* header */

#top-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10rem;
    position: fixed;
}

/* navbar */

#top-nav{
    width: 100%;
    height: 10rem;

    z-index: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* school logo */

.school-logo{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    filter: drop-shadow(10px 12px 10px black);
}

/* levitation animation + class */

.make-it-levitate{
    animation: levitateLogo 1s ease-in 0.5s 3 forwards;
}


@keyframes levitateLogo {
    0% {margin-bottom: 0;}
    50% {margin-bottom: 1rem;}
    100% {margin-bottom: 0;}
}

@keyframes levitateCard {
    0% {transform: translateY(0);}
    50% {transform: translateY(0.5rem);}
    100% {transform: translateY(0rem);}
}

/* MAIN */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* DASHBOARD */

#dashboard{
    width: 80vw;
    height: 70vh;
    border: 5px solid white;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    background-color: rgba(255, 255, 255, 0.3);
}

/* ACTUAL CARD */

.inner-card{
    width: 60%;
    height: 20rem;
    background-color:burlywood;
    border-radius: 30px;
    filter: drop-shadow(10px 12px 12px black);
    margin: 2rem 0;
    padding: 10rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    animation: none;
}

.inner-card:hover{
    animation: levitateCard 1s ease-in 0s infinite forwards;
}

/* backgrounds for each house */

.gryffindor-background{
    background: url("imgs/houses/gryffindor/gryffindor1.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.slytherin-background{
    background: url("imgs/houses/slytherin/slytherin3.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.ravenclaw-background{
    background: url("imgs/houses/ravenclaw/ravenclaw2.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.hufflepuff-background{
    background: url("imgs/houses/hufflepuff/hufflepuff2.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

/* div between the image and the house name */

.image-house{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

/* options for the h2 according to each house */

.gryffindor-h2{
    font-size: 4rem;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--gryffindor);
    font-family: var(--gryffindor-font);
    padding: 1rem;
    width: 70%;
    text-align: center;
    outline-style: double;
    outline-width: 0.5rem;
    outline-offset: 4rem;
    outline-color: var(--gryffindor);
}

.slytherin-h2{
    font-size: 4rem;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--slytherin);
    font-family: var(--slytherin-font);
    padding: 1rem;
    width: 70%;
    text-align: center;
    outline-style: double;
    outline-width: 0.5rem;
    outline-offset: 4rem;
    outline-color: var(--slytherin);
}

.hufflepuff-h2{
    font-size: 4rem;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--hufflepuff);
    font-family: var(--hufflepuff-font);
    padding: 1rem;
    width: 70%;
    text-align: center;
    outline-style: double;
    outline-width: 0.5rem;
    outline-offset: 4rem;
    outline-color: var(--hufflepuff);
}

.ravenclaw-h2{
    font-size: 4rem;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--ravenclaw);
    font-family: var(--ravenclaw-font);
    padding: 1rem;
    width: 70%;
    text-align: center;
    outline-style: double;
    outline-width: 0.5rem;
    outline-offset: 4rem;
    outline-color: var(--ravenclaw);
}

/* student picture */

.student-pic{
    width: 10rem;
    height: 10rem;
    filter: drop-shadow(10px 12px 10px black);
}

/* information about the student / hidden until clicked */


.info{
    background-color: var(--gryffindor);
    display: none;
}
.card-ul{
    padding: 2rem;
    font-size: 1.5rem;
}

.card-ul > li {
    list-style-type: none;
    color: white;
}




