*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    --slytherin: #1A472A;
    --gryffindor: #7400028e;
    --hufflepuff: #6b6019;
    --ravenclaw: #0E1A40;
    --Gryffindor-font: "p22-mackinac-pro", serif; font-weight: 400; font-style: italic;
    --Slytherin-font: "area-normal", sans-serif; font-weight: 400; font-style: italic;
    --Ravenclaw-font: "blenny", sans-serif; font-weight: 900; font-style: normal;
    --Hufflepuff-font: "bely", serif; font-weight: 400; font-style: italic;;
}

body{
    background: url(imgs/background/castle2.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: 100vw;
    height: 100vh;
    cursor: url("imgs/cursor/wand10.svg");
}

/* header 

#top-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10rem;
    display: none;
}

*/

/* navbar 

#top-nav{
    width: 100%;
    height: 10rem;
    z-index: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
}

*/

/* levitation animation + class */

.make-it-levitate{
    animation: levitateLogo 1s ease-in 0.5s 3 forwards;
}


@keyframes levitateLogo {
    0% {margin-bottom: 0;}
    50% {margin-bottom: 1rem;}
    100% {margin-bottom: 0;}
}

@keyframes levitateCard {
    0% {transform: translateY(0);}
    50% {transform: translateY(0.5rem);}
    100% {transform: translateY(0rem);}
}

/* MAIN */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

/* btn section */

#button-section{
    width: 80vw;
    height: 15vh;
}

.button-ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 5px solid green;
    background-color: #0E1A40;
}

.button-ul > li{
    list-style-type: none;
    font-size: 2rem;

}

.button-ul > li > button:hover{
    color: red;
}

/* sorting btns */

.sorting-btn{
    padding: 1rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    outline-style: double;
    outline-offset: 0.5rem;
    background-color: transparent;
    color: white;
}

/* DASHBOARD */

#dashboard{
    width: 80vw;
    height: 70vh;
    border: 5px solid white;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    background-color: rgba(255, 255, 255, 0.3);
    
}

/* ACTUAL CARD */

.inner-card{
    width: 60%;
    height: 20rem;
    background-color:burlywood;
    border-radius: 30px;
    filter: drop-shadow(10px 12px 12px black);
    margin: 2rem 0;
    padding: 10rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    animation: none;
    position: relative;
}

.inner-card:hover{
    animation: levitateCard 1s ease-in 0s infinite forwards;
}

/* school logo in card */

.school-logo{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    filter: drop-shadow(2px 4px 2px black);
    z-index: 100;
    position: absolute;
    top:10%;
    left: 5%;
}

/* backgrounds for each house */

.Gryffindor-background{
    background: url("imgs/houses/gryffindor/gryffindor1.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.Slytherin-background{
    background: url("imgs/houses/slytherin/slytherin3.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.Ravenclaw-background{
    background: url("imgs/houses/ravenclaw/ravenclaw2.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.Hufflepuff-background{
    background: url("imgs/houses/hufflepuff/hufflepuff2.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

/* div between the image and the house name */

.image-house{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

/* btn to see students info */

.student-info-btn{
    padding: 1rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    outline-style: double;
    outline-offset: 0.5rem;
    background-color: transparent;
    color: black;
}

/* STUDENT MODAL STARTS HERE */

/* animation for the modal */

@keyframes openModalSlowly{
    0% {opacity: 0;}
    50% {opacity: 50%;}
    100% {opacity: 100%;}
}

.injectIntoModal{
animation: openModalSlowly 2s ease-in 0.1s 1 forwards;
}

#student-modal{
    width: 80%;
    height: 70%;
    background-color: #B99B6B;
    display: none;
    z-index: 100;
    position: fixed;
    top: 22%;
    filter: drop-shadow(10px 12px 10px black);
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* student picture for modal */

.modal-student-pic{
    width: 15rem;
    height: 15rem;
    filter: drop-shadow(10px 12px 10px black);
}

/* MODAL UL */

.student-information-ul{
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.student-information-ul > li{
    list-style-type: none;
    font-size: 2rem;
}

/* DIV BETWEEN IMG AND BTNS */

.modal-img-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    height: 80%;
}

/* DIV BETWEEN BTNS */

.modal-inner-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.modal-inquisitor-btn{
    padding: 1rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    outline-style: double;
    outline-offset: 0.5rem;
    background-color: green;
    color: white;
    transition: all 0.5s ease-out;
}

.modal-inquisitor-btn-red{
    padding: 1rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    outline-style: double;
    outline-offset: 0.5rem;
    background-color: green;
    color: white;
    transition: all 0.5s ease-out;
}

.modal-inquisitor-btn:hover{
    transition: all 0.5s ease-in;
    color: black;
    background-color: white;
}

.modal-prefect-btn{
    padding: 1rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    outline-style: double;
    outline-offset: 0.5rem;
    background-color: green;
    color: white;
    transition: all 0.5s ease-out;
}

.modal-prefect-btn:hover{
    transition: all 0.5s ease-in;
    color: black;
    background-color: white;
}

/* close modal */

.close-modal{
    height: 100%;
}

.close-modal > button{
    display: block;
    margin-top: 3rem;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close-modal > button:hover{
    transition: all 0.5s ease-in;
    color: red;
}

/* options for the h2 according to each house */

.Gryffindor-h2{
    font-size: 4rem;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--gryffindor);
    font-family: var(--Gryffindor-font);
    padding: 1rem;
    width: 80%;
    text-align: center;
    outline-style: double;
    outline-width: 0.5rem;
    outline-offset: 4rem;
    outline-color: var(--gryffindor);
}

.Slytherin-h2{
    font-size: 4rem;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--slytherin);
    font-family: var(--Slytherin-font);
    padding: 1rem;
    width: 80%;
    text-align: center;
    outline-style: double;
    outline-width: 0.5rem;
    outline-offset: 4rem;
    outline-color: var(--slytherin);
}

.Hufflepuff-h2{
    font-size: 4rem;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--hufflepuff);
    font-family: var(--Hufflepuff-font);
    padding: 1rem;
    width: 80%;
    text-align: center;
    outline-style: double;
    outline-width: 0.5rem;
    outline-offset: 4rem;
    outline-color: var(--hufflepuff);
}

.Ravenclaw-h2{
    font-size: 4rem;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--ravenclaw);
    font-family: var(--Ravenclaw-font);
    padding: 1rem;
    width: 80%;
    text-align: center;
    outline-style: double;
    outline-width: 0.5rem;
    outline-offset: 4rem;
    outline-color: var(--ravenclaw);
}

/* student picture */

.student-pic{
    width: 10rem;
    height: 10rem;
    filter: drop-shadow(10px 12px 10px black);
}


/* information about the student / hidden until clicked */


.info{
    background-color: var(--gryffindor);
    display: none;
}
.card-ul{
    padding: 2rem;
    font-size: 1.5rem;
}

.card-ul > li {
    list-style-type: none;
    color: white;
}




